.home-container {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: 100%;
    width: 100%;
    position: relative;
    overflow: hidden;
    overflow-x: hidden;
}

.home-container .info-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 35vw;
    position: relative;
    margin: 2vh 2%;
    top: -5%;
    left: 55%;
    padding: 0.5vw;
    animation: fade-in 850ms, slide-left 850ms;
}

.home-container .info-container .background-info {
    background: var(--primary-color);
    box-shadow: 0 0 1rem 2rem var(--primary-color);
    border-radius: 0.5rem;
}

.home-container .info-container .background-info > h1,
.home-container .info-container .background-info > p {
    margin-top: 0;
}

.home-container .bg {
    width: 30vw;
    height: 30vw;
    max-width: 750px;
    max-height: 750px;
    min-width: 270px;
    min-height: 270px;
    border-radius: 50%;
    object-fit: cover;
    position: absolute;
    left: 30%;
    top: 49.5%;
    transform: translate(-50%, -50%);
    border: 5px solid #3fa2ff;
    z-index: 1;
    animation: fade-in 3.5s;
}

.home-container .info-container .social-links {
    display: flex;
    justify-content: space-around;
    align-items: center;
    bottom: -60px;
    position: absolute;
    left: 0;
    right: 0;
}

.icon-link {
    transition: transform 0.2s ease;
    margin: 0 1rem;
}

/* The SVG inside the social link */
.icon-link svg {
    width: 30px;
    height: 30px;
    fill: white;
}

.icon-link {
    color: white;
}

.icon-link:focus {
    outline: none;
}

.icon-link > svg {
    fill: white;
}

.icon-link:hover > svg,
.icon-link:focus > svg {
    fill: var(--tertiary-color);
}

.mobile .home-container {
    flex-direction: column;
    width: 100%;
    overflow: visible;
    overflow-x: hidden;
}

.mobile .home-container .info-container {
    text-align: center;
    margin-left: 1rem;
    margin-right: 1rem;
    margin-bottom: 15rem;
    width: auto;
    top: 15%;
    left: 0%;
    background: unset;
    box-shadow: unset;
    border-radius: unset;
    animation: unset;
    overflow: visible;
}

.mobile .home-container .bg {
    width: 60vw;
    height: 60vw;
    position: relative;
    margin-top: 1.5rem;
    top: 28%;
    left: 50%;
    transform: translateX(-50%);
    animation: none;
}

.mobile .home-container .info-container .social-links {
    width: 100%;
    position: fixed;
    bottom: 0.1px;
    left: 0;
    right: 0;
    z-index: 5;
    background: var(--primary-color);
    padding: 17px 0px 20px 0px;
    overflow: hidden;
}

.dynamic-text {
    border-right: 3px solid white;
    margin-left: 10px;
    padding-right: 4px;
    white-space: nowrap;
    overflow: hidden;
    font-style: italic;
    animation: blink-caret 0.7s step-end infinite;
    color: #3fa2ff;
    overflow: hidden;
}

@keyframes fade-in {
    from {
        opacity: 0;
        visibility: hidden;
        display: none;
    }
    to {
        opacity: 1;
        visibility: visible;
        display: revert;
    }
}

@keyframes fade-out {
    from {
        opacity: 1;
        visibility: visible;
    }
    to {
        opacity: 0;
        visibility: hidden;
        display: none;
    }
}

@keyframes slide-down {
    from {
        transform: translateY(-100%);
    }
}

@keyframes slide-up {
    from {
        transform: translateY(100%);
    }
}

@keyframes slide-left {
    from {
        transform: translateX(100%);
    }
}

@keyframes slide-right {
    from {
        transform: translateX(-100%);
    }
}

@keyframes bounce-left {
    0% {
        transform: translateX(0);
    }
    50% {
        transform: translateX(-50%);
    }
    100% {
        transform: translateX(0);
    }
}

@keyframes bounce-out {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.3);
    }
    100% {
        transform: scale(1.2);
    }
}

@keyframes blink-caret {
    from,
    to {
        border-color: transparent;
    }
    50% {
        border-color: white;
    }
}

.br-mobile {
    display: none;
}

.mobile .br-mobile {
    display: block;
}
