.loading-overlay-container {
    background: #242121;
    min-height: 100vh;
    min-width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    animation: fade-out 500ms 3300ms forwards;
    position: fixed;
    z-index: 1000;
}

/* TODO: Animate signature */
.loading-overlay-container > #logo-signature {
    height: 2rem;
    animation: fade-in 1s both, fade-out 500ms 3s forwards;
    margin: 1rem 0 1rem 0;
    fill: var(--secondary-color);
}
