.navbar {
    height: 4.5rem;
    width: 101%;
    display: flex;
    padding: 1rem;
    align-items: center;
    justify-content: space-between;
    position: relative;
    top: 0;
    z-index: 10;
    background: var(--primary-color);
    box-shadow: 0 2px 5px var(--primary-color);
}

.mobile .navbar {
    height: 4.5rem;
    width: 90%;
    display: flex;
    padding: 1rem;
    align-items: center;
    justify-content: space-between;
    position: relative;
    top: 0;
    z-index: 10;
    background: var(--primary-color);
    box-shadow: 0 2px 5px var(--primary-color);
}

.logo {
    object-fit: cover;
    size: 200px;
    width: auto;
    max-width: 200px;
    margin-right: 2rem;
    margin-left: 1rem;
    margin-top: 2.5rem;
}

.menu {
    display: flex;
    align-items: center;
    margin-left: auto;
    margin-right: 1rem;
}

.desktopMenuListItem {
    margin: 1.3rem;
    cursor: pointer;
    font-size: 1.25rem;
    font-family: "source-code-pro", sans-serif;
    position: relative;
    overflow: visible;
}

.desktopMenuBtn {
    background: transparent;
    color: #3fa2ff;
    border: 2px solid #3fa2ff;
    display: inline-block;
    align-items: center;
    justify-content: center;
    padding: 0.5rem 1rem;
    font-size: 1rem;
    font-weight: bold;
    border-radius: 25px;
    transition: all 0.3s ease;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    text-transform: uppercase;
}

.desktopMenuBtn:hover {
    background: #3fa2ff;
    color: white;
    box-shadow: 0 8px 12px 0 rgba(231, 231, 231, 0.2);
}

.navbar .desktopMenuListItem:link,
.navbar .desktopMenuListItem:visited {
    color: white;
    text-decoration: none;
}

.navbar .desktopMenuListItem:hover,
.navbar .desktopMenuListItem:active {
    color: white;
}

.desktopMenuBtn:link,
.desktopMenuBtn:visited {
    color: white;
    text-decoration: none;
}

.desktopMenuBtn:hover,
.desktopMenuBtn:active {
    color: white;
}

.resume-button > a {
    background: transparent;
    color: #3fa2ff;
    border: 2px solid #3fa2ff;
    display: inline-block;
    align-items: center;
    justify-content: center;
    padding: 0.5rem 1.3rem;
    font-size: 1rem;
    font-weight: bold;
    border-radius: 25px;
    transition: all 0.3s ease;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    text-transform: uppercase;
    margin-right: 5rem;
    text-decoration: none;
}

.resume-button:hover > a,
.resume-button:focus-within > a {
    outline: none;
    color: var(--secondary-color);
    background-color: var(--tertiary-color);
    /* border-color: var(--secondary-color); */
}

.navbar .desktopMenuListItem.active:hover {
    color: #3fa2ff;
}

.desktopMenuListItem::after {
    content: "";
    position: absolute;
    bottom: -5px;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: #3fa2ff;
    transform: scaleX(0);
    transform-origin: left;
    transition: transform 0.35s ease-in-out;
}

.desktopMenuListItem:hover::after,
.desktopMenuListItem.active::after {
    transform: scaleX(1);
}

@keyframes drawLine {
    from {
        transform: scaleX(0);
    }
    to {
        transform: scaleX(1);
    }
}

.desktopMenuListItem:hover::after {
    animation: drawLine 0.35s ease forwards;
}

.navbar .desktopMenuListItem.active {
    color: #3fa2ff;
}

.navbar .desktopMenuListItem.active:hover {
    color: #3fa2ff;
}

.hamburger {
    display: none;
    cursor: pointer;
    flex-direction: column;
    justify-content: space-between;
    height: 20px;
    width: 30px;
    margin: 0.5rem;
    padding: 0.5rem 1rem;
}

.hamburger span {
    height: 3px;
    background-color: #ffffff;
    width: 100%;
    display: block;
    transition: transform 0.5s ease, background-color 0.5s ease;
}

.hamburger.active span:nth-child(1) {
    transform: translateY(7px) rotate(-315deg);
}

.hamburger.active span:nth-child(2) {
    width: 0;
}

.hamburger.active span:nth-child(3) {
    transform: translateY(-10px) rotate(315deg);
}

.mobile .navbar {
    padding-bottom: 0.7rem;
}
.mobile .desktopMenu {
    display: none;
}

.mobile .hamburger {
    display: flex;
    margin-right: 1.9rem;
    z-index: 1501;
    cursor: pointer;
}

.mobile .menu {
    position: fixed;
    top: 10rem;
    left: 0;
    right: 0;
    height: calc(100vh - 4.5rem);
    background-color: var(--primary-color);
    width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    display: none;
    overflow: hidden;
    transform: scaleY(0);
    transform-origin: top;
    transition: transform 2s ease;
    z-index: 1500;
}

.mobile .menu .desktopMenuListItem {
    transform: translateY(-10rem) translateX(1.2rem);
}

.mobile .menu .resume-button {
    transform: translateX(3.7rem) translateY(-9rem);
}

.mobile .menu.open {
    display: flex;
    transform: scaleY(1);
    visibility: visible;
}

.resume-button a:link,
.resume-button a:visited {
    text-decoration: none;
}

.resume-button a:hover,
.resume-button a:active {
    text-decoration: none;
}
