.navbar {
  height: 7rem;
  width: 100vw;
  max-width: 132rem;
  margin: 0 auto;
  padding: 2rem 2rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: sticky;
  top: 0;
  z-index: 3;
}

.logo {
  object-fit: cover;
  size: 100px;
  width: 15rem;
  margin-right: auto;
}

.desktopMenu {
  display: flex;
  align-items: center; /* Center items vertically */
  margin-left: auto; /* Pushes the menu to the right */
  margin-right: 1rem; /* Space between menu and Resume button */
}

.desktopMenuListItem {
  margin: 1.3rem;
  cursor: pointer;
  font-size: 1.25rem;
  font-family: 'source-code-pro', sans-serif;
}

.desktopMenuListItem:hover {
  color: rgb(252, 172, 2);
  padding-bottom: 0.23rem;
  border-bottom: 3px solid rgb(252, 172, 2);
}

.desktopMenuBtn {
  background: transparent;
  color: rgb(252, 172, 2);
  border: 2px solid rgb(252, 172, 2);
  display: inline-block;
  align-items: center;
  justify-content: center;
  padding: 0.5rem 1rem;
  font-size: 1rem;
  font-weight: bold;
  border-radius: 25px;
  transition: all 0.3s ease;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  text-transform: uppercase;
}

.desktopMenuBtn:hover {
  background: rgb(252, 172, 2);
  color: white;
  box-shadow: 0 8px 12px 0 rgba(231, 231, 231, 0.2);
}

/* Override link and visited states for your navbar items */
.navbar .desktopMenuListItem:link,
.navbar .desktopMenuListItem:visited {
  color: white; /* Set your desired color for the links */
  text-decoration: none; /* If you don't want underlines */
}

/* You might also want to set hover and active states */
.navbar .desktopMenuListItem:hover,
.navbar .desktopMenuListItem:active {
  color: white; /* Set your desired color for hover state */
}

/* Apply the same styles for your resume button if it's a link */
.desktopMenuBtn:link,
.desktopMenuBtn:visited {
  color: white; /* Set your desired color */
  text-decoration: none; /* If you don't want underlines */
}

.desktopMenuBtn:hover,
.desktopMenuBtn:active {
  color: white; /* Set your desired color for hover state */
}

/* Resume Button */
.resume-button > a {
  background: transparent;
  color: rgb(252, 172, 2);
  border: 2px solid rgb(252, 172, 2);
  display: inline-block;
  align-items: center;
  justify-content: center;
  padding: 0.5rem 1.3rem;
  font-size: 1rem;
  font-weight: bold;
  border-radius: 25px;
  transition: all 0.3s ease;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  text-transform: uppercase;
}

.resume-button:hover > a,
.resume-button:focus-within > a {
  outline: none;
  color: var(--secondary-color);
  background-color: var(--tertiary-color);
  /* border-color: var(--secondary-color); */
}

.navbar .desktopMenuListItem.active {
  color: rgb(252, 172, 2); /* This sets the active link color to yellow */
  padding-bottom: 0.23rem;
  border-bottom: 3px solid rgb(252, 172, 2); /* Underline effect for active item */
}

/* Ensure that the active state overrides the hover state */
.navbar .desktopMenuListItem.active:hover {
  color: rgb(252, 172, 2);
}
